h1{
  font-size: 34px;
  /* color: black; */
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  /* font-weight: 600; */
  /* margin-top : 1px; */
  margin-bottom : 11px;
  /* font-weight: 300; */
  /* text-shadow: 2px 2px #83c5be; */
}
body {
  font-size: 16.5px;
  /* padding: -10px; */
  font-family: Helvetica, Arial, sans-serif;
  /* text-align: justify; */
  line-height: 145%;
  /* margin-bottom:-10px; */
}
h2{
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding-top: 5px;
  margin-top : 1px;
  margin-bottom : 11px;
  /* font-weight: bold; */
  /* text-shadow: 2px 2px #83c5be; */
}

a {
  text-align: left;
  text-decoration: none;
}
.high {
  color:#E83E8C;
}
.bhigh {
  color:#030F86;
}
.latex{
  font-size: 15px;
}

.nlinks{
  text-decoration: underline;
}
h3{
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding-top: 5px;
  margin-top : 1px;
  margin-bottom : 11px;
}

h4{
  font-size: 18px;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
  text-decoration: none;
  margin-top : 1px;
  margin-bottom : 10px;
  font-weight: 600;
  /* text-shadow: 2px 2px #83c5be; */
}
#wh-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  #wh-modal-img {
    margin: auto;
    display: block;
    max-width: min(1200px, 100%);
  }

/* The Close Button */
#wh-modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
  }

  #wh-modal-close:hover,
  #wh-modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .wh-fig-a:hover {
    cursor: pointer;
  }

  .wh-venti-button {
      background-color: transparent;
      border: none;
  }

.wh-wrapper {
    /*width: 500px;*/
}

.wh-progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.wh-progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #1BBC9B;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    transition: width 500ms ease-in-out;
}

td > p {
  margin-bottom: 0;
  margin-top: 0;
}
.table td, .table th {
  padding: 0.2rem 0.75rem 0.2rem 0.75rem;
}

.wh-container {
  position: relative;
  text-align: center;
  color: white;
}

.wh-div-centered {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-17%, -50%);
  background: rgba(0, 0, 0, .75);
}

.wh-hero {
  color: #FFFFFF !important;
  padding: 1em;
  margin: 0;
  height: 100%;
}

/* Not sure why, but pasted images are going display:blocks(??)*/

.pasted-inline > img {
  display: inline !important;
}

.bold_ital{
    font-weight: 600;
    font-style: italic;
}

.bital{
    color: blue;
    font-style: italic;
}

.nital{
    font-style: italic;
}

.hital{
    color:#E83E8C;
    font-style: italic;
}

.latex{
    font-size: 15px;
}
